/* Base CSS  */

@font-face {
  font-family: "Bebas Neue Pro Custom";
  src: url("bebas_neue_pro_regular-webfont.woff2") format("woff2"),
    url("bebas_neue_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue Pro Custom";
  font-size: 12px;
  letter-spacing: 1px;
}

:root {
  --bg-header: #f8932d;
  --bg-sidebar: #ecf5f7;
}

input {
  outline: none;
}

input[type="password"] {
  font-family: Verdana;
}

/* Navbar Top Styling */

.navbar {
  background-color: #f8932d;
  padding: 0;
  height: 6em;
  position: absolute;
}

.navbar-brand {
  height: 4em;
}

/* Sidebar Styling  */

.sidebar {
  background-color: var(--bg-sidebar);
  width: 17em;
  transition: height 0s, transform 1s;
  position: fixed;
  margin-top: 6em;
  height: 100%;
}

.sidebar.collapse {
  transform: translateX(-220px);
}

.sidebar.collapse:not(.show) {
  transform: translateX(0px);
  display: block;
}

.sidebar-header {
  display: grid;
  height: 9em;
}

.user-pfp {
  grid-row: 1 / span 2;
  height: 4em;
  margin-right: -13px;
}

.user-name {
  grid-row: 1 / 1;
  margin-left: 9px;
  font-size: 14px;
}

.user-auth {
  grid-row: 2 / 2;
  margin: -16px 0 0 10px;
  color: var(--bg-header);
}

.user-dropdown {
  grid-row: 2 / 2;
  margin-top: -9px;
  height: 7px;
  margin-left: -23px;
  cursor: pointer;
}

.sidebar-header > p {
  font-size: 14px;
  font-weight: bold;
}

.sidebar-toggle-btn {
  margin-left: 500px;
  margin-top: 500px;
  position: fixed;
}

@media (min-width: 768px) {
  .sidebar.collapse {
    transform: translateX(0px);
    display: block;
  }

  .sidebar.collapse:not(.show) {
    transform: translateX(0px);
    display: block;
  }
}

/* Add User Button  */

.add-user {
  border: none;
  outline: none;
  border-radius: 7px;
  width: 108px;
  height: 30px;
  right: 3px;
  margin: -22px 10px 0px 0px;
  position: absolute;
  color: white;
  font-size: 11px;
  padding: 2px 0px 2px 17px;
  background: url(../img/userplusicon.svg) no-repeat, #f8932d;
  background-size: 13px;
  background-position-x: 21px;
  background-position-y: 9px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
}

/* Modal Styling  */

.modal-dialog {
  width: 38em;
  margin-top: 8em;
}

.modal-header {
  border-color: #f8932d;
  border-radius: 9px 9px 0 0;
}

.modal-content {
  height: 268px;
  border-radius: 0px 0 8px 8px;
  outline: none;
  border: none;
}

.field-input {
  height: 1em;
  margin-left: 11px;
  margin-right: -11px;
}

label {
  font-size: 11px;
}

input {
  font-size: 10px;
  height: 15px;
  border-radius: 5px;
  width: 17em;
  border: none;
  outline: none;
  background-color: #ecf5f7;
  padding: 9px 7px;
  color: grey;
}

.radio-input {
  width: 11px;
  height: 11px;
  margin: -8px 8px 0 0px;
  filter: hue-rotate(275deg);
}

.radio-text {
  margin: -11px 19px 0px -3px;
}

.btn-submit,
.btn-submit:hover {
  background-color: #f8932d;
  color: white;
}

/* Scroll Transition  */

/* .scroll-transition-nav {
  transform: translateY(0em);
}

.scroll-transition-sidebar {
  margin-top: 6em;
}

@media (min-width: 768px) {
  .scroll-transition-nav {
    transform: translateY(0em);
  }

  .scroll-transition-sidebar {
    margin-top: 0em;
  }
} */

/* .scroll-transition-nav {
  transform: translateY(-6em);
}

.scroll-transition-sidebar {
  margin-top: 0em;
} */

@media (min-width: 768px) {
  /* .scroll-transition-nav {
    transform: translateY(0em);
  }

  .scroll-transition-sidebar {
    margin-top: 6em;
  } */

  .navbar {
    position: fixed !important;
  }
}
