/* Base Attributes  */

@font-face {
  font-family: "Bebas Neue Pro Custom";
  src: url("bebas_neue_pro_regular-webfont.woff2") format("woff2"),
    url("bebas_neue_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue Pro Custom";
  font-size: 12px;
  letter-spacing: 1px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --bg-header: #f8932d;
  --bg-sidebar: #ecf5f7;
}

/* Page Header */

.header-top {
  z-index: 999;
  background-color: var(--bg-header);
  height: 50px;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
}

.logo {
  height: 40px;
  margin-top: 3px;
  margin-left: 8px;
}

/* Page Sidebar */

.sidebar {
  background-color: var(--bg-sidebar);
  width: 160px;
  min-height: calc(100vh - 50px);
  height: fit-content;
  top: 50px;
  position: absolute;
  left: 0;
}

/* User Information Styles */

.user-details {
  display: grid;
  grid-template:
    "img name name name" 1fr
    "img auth auth dropdown" 1fr;
  margin: 15px 0;
  border-bottom: 1px solid #d9d7d7;
  padding-bottom: 10px;
}

.user-details > p {
  font-size: 10px;
  font-weight: 700;
}
.user-name {
  grid-area: name;
  margin: 4px 0px 0px -1px;
}
.user-auth {
  grid-area: auth;
  margin: 3px 0 0 -1px;
  color: var(--bg-header);
}

.img-user {
  height: 33px;
  grid-area: img;
  margin-left: 13px;
}

.dropdown-user {
  height: 5px;
  margin: 6px 0 0 -12px;
}

/* Sidebar content Styles */

li {
  display: flex;
  margin-bottom: 9px;
  height: 45px;
}

li > p {
  font-size: 11px;
  margin: 15px 0 0 8px;
  z-index: 1;
  font-weight: 700;
}
svg {
  height: 15px;
  width: 20px;
  background-color: white;
  padding: 3px;
  margin: 10px 0px 10px 12px;
  border-radius: 8px;
  z-index: 1;
}

/* Sidebar Items Hover */
li:hover::before {
  content: "";
  width: 138px;
  height: 35px;
  background-color: white;
  position: absolute;
  z-index: 0;
  right: 0;
  border-right: solid 2px;
  border-color: var(--bg-header);
  border-radius: 8px 0px 0px 6px;
  margin-top: 2px;
  box-shadow: -4px 6px 9px #00000012;
}

li > svg {
  fill: var(--bg-header);
}

li:hover > svg {
  background-color: var(--bg-header);
  fill: white;
}

/* Main Content  */

main {
  margin: 50px 0px 0px 160px;
}

.page-top-content {
  position: relative;
}

.svg-main {
  background-color: var(--bg-header);
  fill: white;
  height: 18px;
  width: 18px;
  padding: 3px 6px 3px 6px;
  margin: 20px 0 0 10px;
}

.heading-user-man {
  margin: -22px 0 0px 49px;
  letter-spacing: 1.25px;
  font-size: 15px;
}

.search-input {
  width: 136px;
  height: 24px;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 1px 7px 1px 17px;
  font-size: 12px;
  margin: -22px 115px 0px 0px;
  right: 0;
  position: absolute;
  background: url(../img/search.svg) no-repeat, var(--bg-sidebar);
  background-size: 9px;
  background-position-x: 3%;
  background-position-y: 50%;
}

.add-user {
  border: none;
  outline: none;
  border-radius: 7px;
  width: 77px;
  height: 25px;
  right: 2px;
  margin: -22px 10px 0px 0px;
  position: absolute;
  color: white;
  font-size: 12px;
  padding: 0px 0px 1px 15px;
  background: url(../img/userplusicon.svg) no-repeat, var(--bg-header);
  background-size: 13px;
  background-position-x: 16px;
  background-position-y: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add User Modal Box  */

.modal-add-user {
  background-color: white;
  width: 42vw;
  height: 60vh;
  position: fixed;
  display: none;
  z-index: 100;
  right: 29%;
  top: 23%;
  border-radius: 3%;
  overflow: hidden;
}

.modal-add-user:target {
  display: block;
}

.background-overlay {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #605c5c;
  z-index: 90;
  top: 0;
  left: 0;
  opacity: 0.2;
  cursor: default;
}

.background-link {
  display: none;
}

.modal-add-user:target ~ .background-link {
  display: block;
}

.heading-add-user {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}

.heading-add-user::after {
  content: "";
  height: 0.5px;
  width: 100vw;
  background-color: var(--bg-header);
  position: absolute;
  right: 0;
  top: 22%;
  opacity: 1;
}

.fa-close {
  color: var(--bg-header);
  font-size: 15px;
  position: absolute;
  right: 6%;
  top: 9%;
}

.group-input-add-user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px 50px;
  margin: 19px 17px 0 17px;
  position: absolute;
}

.text-inputs {
  height: 8px;
  width: 158px;
  outline: none;
  border: none;
  padding: 5px 6px;
  background-color: #e6eaec;
  border-radius: 5px;
  font-size: 10px;
}

.pass-invisible {
  background: url(../img/pass-img-invisible.svg) no-repeat, #e6eaec;
  background-size: 9px;
  background-position: 153px 6px;
}

.pass-visible {
  background: url(../img/pass-img-visible.svg) no-repeat, #e6eaec;
  background-size: 9px;
  background-position: 153px 7px;
}

.div-canteen {
  position: relative;
}

.canteen-input {
  cursor: pointer;
}

.div-canteen::after {
  content: ">";
  color: grey;
  transform: rotate(90deg);
  margin: 0;
  position: absolute;
  right: 7px;
  top: 21px;
  font-size: 15px;
}

.div-text-adduser > p {
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 10px;
}

.radio-input {
  display: none;
}

.radio-div {
  height: 2px;
  width: 2px;
  padding: 1px;
  border-radius: 50%;
  outline: 1.5px solid grey;
  outline-offset: 2px;
  position: relative;
  margin: 3px 10px 0px 6px;
}

.modal-btn {
  position: absolute;
  background-color: #aaaaaa;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  color: white;
  padding: 5px 40px;
  border-radius: 5px;
  bottom: -38px;
  left: 82px;
}

.submit-btn {
  bottom: -38px;
  left: 211px;
  background-color: var(--bg-header);
}
/* .options {
  display: inline-flex;
} */

.options > label {
  display: inline-flex;
  margin: 10px 13px 0 0;
}

.radio-div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  transition-duration: 0.15s;
  transform: translateX(50px);
  background-color: #559d2e;
  transform: scale(0);
}

.radio-input:checked ~ .radio-div {
  outline-color: #559d2e;
}

.radio-input:checked ~ .radio-div::after {
  transform: scale(1);
  outline-color: #559d2e;
}

/* Table Headers */

.header-row {
  background-color: #707070;
}

th,
td {
  text-align: left;
  padding: 24px 49px 3px 0px;
}

th {
  border-right: #707070 1px solid;
  color: #ffffff;
  font-weight: 100;
  height: 1px;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
}

th::after {
  content: "";
  background-color: white;
  width: 0.5px;
  height: 27px;
  position: absolute;
  border-radius: 10px;
  margin-top: -7px;
  right: 15px;
}

.last-table-heading::after {
  content: none;
}

#name-header {
  border-top-left-radius: 5px;
  padding-left: 16px;
}

/* Table Content  */

td {
  font-weight: 700;
  padding-top: 6px;
}

.table-name {
  padding-left: 15px;
}

.main-table {
  margin: 44px 0px 0px 9px;
  border-collapse: collapse;
  width: 867px;
  height: 305px;
}

.last-table-heading {
  border-top-right-radius: 5px;
  border: none;
}

tr:nth-child(2n) {
  background-color: #f9fcfd;
}

tr:nth-child(3),
tr:nth-child(5) {
  background-color: #f7f8e8;
}
td > img {
  height: 8px;
  position: absolute;
  cursor: pointer;
}

td > img:nth-child(1) {
  margin: -6px 0 0 3px;
}

td > img:nth-child(2) {
  margin: -6px 0 0 16px;
}

td > img:nth-child(3) {
  margin: -6px 0 0 34px;
}

td > a {
  color: white;
  background-color: #559d2e;
  padding: 4px 19px;
  border-radius: 5px;
  font-weight: 100;
}

.Inactive-link {
  background-color: #aaaaaa;
  padding: 4px 14px;
}

.table-nav {
  display: flex;
  letter-spacing: 3px;
  font-size: 11px;
  position: absolute;
  right: 50px;
  margin-top: 30px;
}

.bottom-text {
  margin: 27px 0 0 20px;
  position: absolute;
  color: #605c5c;
}

.table-nav > a,
.table-nav > p,
.bottom-text {
  font-size: 10px;
}

.table-nav > a {
  background-color: var(--bg-sidebar);
  padding: 0 5px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 1px;
}

.table-nav > p {
  margin: 3px 2px 0px 5px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 3px;
}

.nav-numbers > a {
  background-color: var(--bg-header);
  font-size: 10px;
  padding: 2px 4px 2px 5px;
  border-radius: 4px;
  color: white;
}

.dropdown-orange {
  position: absolute;
  height: 5px;
  margin: 19px 0 0 142px;
  z-index: 11;
}

li,
img,
.nav-numbers {
  cursor: pointer;
}

.next-prev-hover:hover {
  background-color: var(--bg-header);
  color: white;
  transition: 250ms;
}

/* On-click Implementation  */

.dropdown-items {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 50px;
  margin: 2px 0 0px 19px;
  padding: 9px 39px 0px 0px;
  border-radius: 9px 0 0 9px;
  font-size: 11px;
}

.dropdown-items > a {
  margin: 11px -40px 0px 27px;
  font-size: 10px;
  z-index: 10;
}

/* .li-user-man is the class to be toggled on list item */

.li-user-man > .dropdown-items {
  display: grid;
  height: 100px;
  transition: 1s;
}

.dropdown-items > a:hover {
  color: var(--bg-header);
}

.dropdown-items > a:nth-child(1) {
  margin: 28px 0px -33px 27px;
}
.dropdown-items > a:nth-child(2) {
  margin: 24px 0px -20px 27px;
}

.li-user-man {
  height: 104px;
  z-index: 0;
  transition: 1s;
}

.li-user-man > * {
  transition: 1s;
}

.li-user-man:hover::before {
  border: none;
  background: none;
}

.li-user-man > svg {
  background-color: var(--bg-header);
  fill: white;
}

.li-user-man > .dropdown-orange {
  transform: rotate(180deg);
}
