@import "config";
@import "utilities";

.headerNav {
  padding: 0.7rem 2rem;
  border-bottom: 2px solid $primaryColor;
  position: fixed;
  z-index: 100;
  width: 100%;
  opacity: 0.9;
  top: 0;
  left: 0;
  @extend .flex;
  @extend .flexBetween;

  ul {
    @extend .flex;
    li {
      margin: 0.5rem;
    }
  }

  a:hover {
    color: $primaryColor;
  }

  @include media(520px) {
    flex-direction: column;
  }
}

.landing {
  background: url(../img/backgroundimage.jpg) no-repeat center center / cover;
  position: relative;
  height: 100vh;
  width: 100%;

  &Content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 0 2rem;
  }

  .btn {
    display: inline-block;
    margin: 0 0.5rem;
  }
}

// Page Forms

.form {
  &-group {
    margin: 0.5rem 0;

    input,
    textarea,
    select {
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      outline: none;
    }
    &.radio-group {
      display: flex;
      align-items: center;
      input {
        width: 20px;
        margin: auto 5px;
      }
    }
  }
  &-text {
    font-size: 0.8rem;
    color: #333;
  }

  &-after-text {
    font-size: 0.8rem;
    @extend .my-1;
  }

  &-buttons {
    display: flex;
    gap: 10px;
  }
}

// Profile List

.profile {
  grid-template-columns: 2fr 4fr 2fr;
  gap: 1rem;
  @extend .bgLight;
  padding: 1rem;
  border: 1px solid #ccc;
  @extend .my-1;
  @include media(500px) {
    grid-template-columns: 1fr;
    align-items: center;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  img {
    max-width: 200px;
  }

  &-text {
    display: flex;
    flex-direction: column;
  }
  .btn {
    max-width: 130px;
    color: #fff;
    @extend .my-1;
  }
}

// Developer Profile

.profile-content {
  display: grid;
  grid-template-areas:
    "top top"
    "bio bio"
    "exp edu"
    "git git";
  gap: 1rem;
  @include media(500px) {
    grid-template-areas:
      "top"
      "bio"
      "exp"
      "edu"
      "git";
  }
  h3 {
    margin-bottom: 5px;
  }

  > div {
    border: 1px solid #ccc;
    @extend .p-1;
    // height: 90%;
    min-height: fit-content;
  }

  @include media(550px) {
    > div {
      max-width: 80%;
      margin: auto;
      position: relative;
    }
  }

  h4,
  strong {
    font-weight: 600;
    font-size: 15px;
    color: #222;
  }

  p,
  span {
    font-size: 13px;
    color: #333;
  }

  .info-box {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #666;

    &:last-child {
      border-bottom: none;
    }
  }
  .profile-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-area: top;
    text-align: center;

    & > * {
      margin: 10px 0;
    }
    img {
      width: 250px;
    }
    h2.x-large {
      font-weight: normal;
    }
    p {
      font-size: 1.5rem;
      color: #fff;
    }
    span {
      color: #fff;
    }

    .icons {
      font-size: 1.5rem;
      @include media(400px) {
        font-size: 1.2rem;
      }
      .fas,
      .fab {
        margin: 0 5px;
      }
    }

    @include media(550px) {
      img {
        width: 120px;
      }
      h2.x-large {
        font-size: 18px;
      }
      p {
        font-size: 1rem;
      }
    }
  }

  .profile-bio {
    grid-area: bio;

    > div {
      border-bottom: 1px dotted #ccc;
      margin: 1rem 0;
    }

    > div:last-child {
      border-bottom: none;
    }

    p {
      @extend .my-1;
      font-size: 1rem;
      max-width: 80%;
      margin: auto;
    }
    .skill {
      @extend .m-1;
      display: flex;
      gap: 5px;
    }

    h3 {
      text-align: center;
    }
    .profile-skills {
      display: flex;
      justify-content: center;
      align-items: center;

      @include media(550px) {
        flex-direction: column;
        .skill {
          gap: 5px;
        }
      }
    }

    @include media(450px) {
      p {
        font-size: 13px;
        text-align: center;
      }

      .skill {
        display: flex;
        font-size: 13px;
        margin: 10px;
      }
    }
  }

  .profile-exp {
    grid-area: exp;
  }
  .profile-edu {
    grid-area: edu;
  }

  .profile-repo {
    grid-area: git;
    border: none;
    .repo {
      margin-bottom: 20px;
      border: 1px solid #ccc;
      padding: 1rem;
      display: flex;
      justify-content: space-between;

      @include media(500px) {
        flex-direction: column;
        gap: 2rem;
      }

      .text-area {
        flex-basis: 70%;
      }
      .badges {
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        span {
          padding: 0.2rem 0.5rem;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}

// Dashboard

.dash-buttons {
  .btn {
    margin: 0.5rem;
  }
}

.dash-education,
.dash-experience {
  @extend .my-2;
}

.table {
  border-collapse: collapse;
  td,
  th {
    text-align: left;
    padding: 1rem;
  }
  th {
    background: $lightColor;
    margin: 0;
  }
}

// Posts

.btnNormal {
  display: inline-block;
}

.post-box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  gap: 1rem;

  .react-buttons {
    display: flex;
  }

  @include media(520px) {
    grid-template-columns: 1fr;
    .react-buttons {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &:last-child {
      align-items: flex-start;
    }
  }

  img {
    width: 125px;
  }

  a {
    display: inline-block;
  }
}
