* {
  margin: 0;
  font-family: "Lato";
  padding: 0;
  box-sizing: border-box;
  --bg-header: #047aed;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2px;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Utilities */

.bg-primary {
  background-color: var(--bg-header);
  color: white;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  height: -webkit-fill-available;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  padding: 10px 30px;
  background-color: var(--bg-header);
  color: white;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.95);
}

.btn-dark {
  background-color: #002240;
}

.card {
  background-color: white;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 0px 5px rgb(0 0 0 / 50%);
}

.text-center {
  text-align: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.center-vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 2.5rem 0;
}
.my-5 {
  margin: 3rem 0;
}

py-1 {
  padding: 1rem 0;
}
py-2 {
  padding: 1.5rem 0;
}
py-3 {
  padding: 2rem 0;
}
py-4 {
  padding: 2.5rem 0;
}
py-5 {
  padding: 3rem 0;
}

.bg-light {
  background-color: white;
  color: #333;
}

.bg-dark {
  color: white;
  background-color: #002240;
}

.xl {
  font-size: 4em;
  font-weight: bold;
}

.lead {
  font-size: 1.3em;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.alert {
  background-color: var(--light-color);
  padding: 5px 0;
}

.alert-success {
  background-color: var(--success-color);
}

.alert i {
  margin-right: 10px;
  margin-left: 10px;
}

.left-in {
  animation: slideInFromLeft 500ms ease;
}

.right-in {
  animation: slideInFromRight 500ms ease;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
